@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root {
    --body-background-color: #282c36;
    --nav-background-color: #20232d;
    --text-color: #ffffff;
    --title-color: #ffffff;
    --nav-text-color: #ffffff;
    --extra-color: #ffffff;
}

html,
body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#themeToggleButton {
    color: var(--nav-text-color);
    background: var(--nav-background-color);
    padding: 10px 20px;
    border-radius: 5px;
}

#themeButton {
    position: fixed;
    top: 10px;
    right: 10px;
}

h1 {
    text-align: center;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generator_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.theme_container {
    background: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    margin-bottom: 0.5rem;
    text-align: center;
}

.theme_delete_button {
    background-color: #ee0011;
    color: #ffffff;
    position: relative;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}


/* Button to add new theme */

#addTheme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#addThemeButton {
    background: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    height: 80%;
}


/* Generate buttons */

.left_right_divider {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "divider_left divider_right";
    text-align: center;
    margin-top: 0.5rem;
}

.divider_left {
    margin: 0 0.5rem 0 auto;
    grid-area: divider_left;
}

.divider_right {
    grid-area: divider_right;
    margin: 0 auto 0 0.5rem;
}

.left_right_divider div {
    background: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    width: calc(80% - 3rem - 2px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--extra-color);
    cursor: pointer;
}